/*body 
{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/
.name
{
	font-size: 2em;
	font-family: "Roboto", sans-serif;
	padding: 0px 0px 0px 3px;
	font-weight: bold;
}
.list
{ 
	position: absolute;
	left: 22.5%;
	height: 90%;
	overflow-x: hidden;
    overflow-y: auto;
	width: 72.5%;
	border: 1px solid #73AD21;
}
.red
{
	color : red;
}
.green
{
	color : green;
}
.blue
{
	color : blue;
}
.orange
{
	color : orange;
}
.yellow
{
	color : yellow;
}
.date
{
	font-size: 1em;
	font-family: "Roboto", sans-serif;
	color: #d4c6c5;
	padding: 0px 0px 0px 5px;
}
.header
{
	padding: 0px 0px 3px 0px;
}
.message
{
	font-family: "Roboto", sans-serif;
	background-color: grey;
	overflow-wrap: break-word;
	width: 100%;
}
.message:hover
{
	background-color: #353839;
}
.text
{
	font-size: 1.5em;
	color: white;
	padding: 0px 0px 0px 3px;

}
