body
{
	background-image: url('./loginBackground.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#login
{
	background-color: #FFFDD0;
	position: relative;
	left: 30%;
	top: 2em;
	width: 40%;
	height: 10em;
}
#title
{
	position: relative;
	text-align: center;
	width: 20%;
	left: 40%;
	top: 0em;
	font-weight: bold;
	color: #0000F7;
	font-size: 3em;
}
#line
{
	position: relative;
	left: 40%;
	width: 20%;
	top: 4em;
	text-align: center;
}
#line::before
{
	content: "- ";
	
}
#line::after
{
	content: " -";
}
.App-logo
{
	max-width: 10%;
	position: relative;
	left: 45%;
	animation: rot 1s linear infinite;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards; 
	-ms-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards; 
	animation-fill-mode: forwards;
}
@keyframes rot
{
	0%
	{
		transform: rotate(0deg); 
		transform: rotateY(0deg);
	} 
	100%
	{
		transform: rotate(360deg);
		transform: rotateY(360deg);
	}
}
button
{
	position: relative;
	left: 40%;
	top: 4em;
	width: 20%;
	height: 3.5em;
	border-radius: 5px;
	background-color: yellow;
}
#loginButton
{
	top: 4em;	
}
#createAccount
{
	top: 6em;
}
input
{
	float: left;
	clear: left;
	position: relative;
	left: 17.5%;
	width: 65%;
	height: 20%;
	border-radius: 5px;
	background-color: #696969;
}
#u
{
	top: 15%;
}
#p
{
	top: 35%;
}