#panel
{
	position: absolute;
	right: 0%;
	top: 0em;
	width: 5%;
	height: 100%;
	background-color: red;
	text-align: center;
}
.fa-gear, .fa-sign-out
{
	padding-top: 10px;
	font-size: 3em; 
	border-radius: 50%;
}
.fa-gear:hover, .fa-sign-out:hover
{
	font-size: 5em;
	cursor: pointer;
}